@font-face {
    font-family: "Inter medium";
    src: url(../assets/Fonts/Inter_28pt-Medium.ttf);
  }
  @font-face {
    font-family: "Semi bold";
    src: url(../assets/Fonts/Inter_28pt-SemiBold.ttf);
  }
  
  @font-face {
    font-family: "Extra bold";
    src: url(../assets/Fonts/Inter_28pt-ExtraBold.ttf);
  }
  @font-face {
    font-family: "Regular";
    src: url(../assets/Fonts/Inter_28pt-Regular.ttf);
  }
  @font-face {
    font-family: "Bold";
    src: url(../assets/Fonts/Inter_28pt-Bold.ttf);
  }
  .inter-medium {
    font-family: "Inter medium";
  }
  .inter-regular {
    font-family: " Regular";
  }
  
  .inter-semibold {
    font-family: "Semi bold";
  }
  
  .inter-extrabold {
    font-family: "Extra bold";
  }
  .inter-bold {
    font-family: "Bold";
  }

  *{
    box-sizing: border-box;
  }

.Navbar{
  height: 102px;
  background-color: #E9F7FF;


  .dropdowns{
    display: flex;
    flex-direction: row;
    gap: 42px;
    justify-content: center;
    align-items: center;
  }

  .navButton{
    width: 111px;
    height: 52px;
    background-color: white;
  }

  NavDropdown{
    font-size: 16px;
  }
}

.MyHome{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .MyImages{
    margin-block-start: 70px;
    padding-block-start: 61px;
  
    .images{
      display: flex;
      flex-direction: row;
      gap: 24.11px;
      /* padding-inline-start: 81.22px; */
    }
  
    .left{
      display: flex;
      flex-direction: column;
      gap: 25.56px;
  
      .top{
        width: 269.89px; 
        height: 265.22px;
      }
    }
  
  
    .right{
      position: relative;
      display: flex;
      flex-direction: column;
    
      .ellipse{
        position: absolute;
        
      }
    
      .ellipse2{
        margin-inline-start: 123.44px;
        margin-block-start: -61px;
      }
    }
  
  }

  .rightPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 159.5px;
    width: 471.44px;
    


    h2{
      font-size: 58px;
      color: #171100;
      margin-block-end: 16.33px;
    }
    
    p{
      font-size: 18px;
      color: #5F5B53;
      margin-block-end: 23px;
    }

    a{
      text-decoration: none;
      height: 64px;
      width: 246px;
      border-radius: 32px;
      color: #ffffff;
      font-family: Poppins;
      background-color: #0684C9;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


/* ---------------------------------------SIGN UP--------------------------------------- */
.signup{
    display: flex;
    flex-direction: row;
  

  .Left{
    display: flex;
    flex-direction: column;
    gap: 99.28px;
    border: #EDF8FF;
    background-image: url('../images/Vector\ 3\ 1.png'), url('../images/Vector\ 3\ 3.png');
    width: 720PX;
  }


  .top{
    display: flex;
    gap: 22px;
    margin-inline-start: 76px;

    .img5{
      width: 176px;
      height: 312.25px;
    }

    .img4{
      width: 176px;
      height: 594.3px;
    }

    .img6{
      width: 176px;
      height: 312.25px;
    }

  }

  .bottom{
    width: 499px;
    height: 124px;
    margin-inline-start: 150px;
    margin-inline-end: 99px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    h2{
      font-size: 24px;
      text-align: center;
      color: #2E2E2E;
      width: 400px;
      height: 64px;
      line-height: 32px;
    }

    p{
      width: 400px;
      height: 2rem;
      font-size: 16px;
      text-align: center;
      color: #2E2E2E;
      line-height: 24px;
    }
  }


  .Right{
    width: 414px;
    height: 669px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-inline-start: 149px;
    margin-block-start: 150px;

    h2{
      font-size: 36px;
      line-height: 44px;
      color: #1A202C;
    }
    form{
      .email{
        display: block;
      }

      input::placeholder{
        padding-inline-start: 12px;
        font-size: 14px;
        line-height: 22px;
        color: #767676;
      }

      label{
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        color: #2E2E2E;
      }
      .myEmail{
        label{
          margin-block-end: 12px;
        }
        input{
          height: 55px;
          border: 1px solid #f8f5ef;
          width: 414px;
          border-radius: 10px;
        }
      }

      .names{
        display: flex;
        flex-direction: row;
        width: 414px;
        height: 91px;
        gap: 27px;
        margin-block: 20px;

        .myName{
          display: flex;
          flex-direction: column;
          gap: 12px;
          input{
            height: 55px;
            border: 1px solid #f8f5ef;
            width: 193.5px;
            border-radius: 10px;
          }
        }
      }

      button{
        width: 414px;
        height: 52px;
        border-radius: 5px;
        background-color: #0684C9;
        color: #ffffff;
        font-size: 16px;
      }
    }

    .Or{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      column-gap: 11px;
      text-align: center;
    }
    .Or::before, .Or::after{
      content: "";
      height: 2px;
      background-color: #767676;
      display: block;
      width: 177px;
    }

    .socialIcons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;
    }

    .AlreadySigned{
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;

      span{
        a{
          text-decoration: none;
          color: #0684C9;
        }
      }
    }

    .terms{
      height:   18px;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      color: #000000;

      span{
        a{
          text-decoration: none;
          color: #0684C9;
        }
      }
    }
  }
}

